API_ID=27543394
API_HASH=148a67b448e9061a6c369e852637eb68
BOT_TOKEN=8499534209:AAHFkkHx3rJBDsnH2wbfvQ66RxcfrkQvY0s
LOG_GROUP_ID=-1003640867041
API_KEY=NxGBNexGenBotsa54535
MONGO_DB_URI=mongodb+srv://satyam:satyam@satyam.jpftt.mongodb.net/?retryWrites=true&w=majority&appName=Satyam
OWNER_ID=8577327906
STRING_SESSION=BAGkR2IAOIdSCEpert5LTa70CazZUBKFLhIjKRLcI-773RL2burTPCcvz9s2CJFu7YPPdS9cDkXAXJQ2p7nx1aN68YRHbxBxTS7CHS1iGc0kcyxp_BnIQy47iM4JlzeTf34q7JUx-b7yKAtqgXnuwyYBd55TfDenaIy_F0B_e5gI2SvaWoqbEY8LcKIxD66Njh7blnom8fDkMKauU7HvxA5Ocnux4uNpbEX8yq-e_F0A3zL0F0zce-igvuGwe22-2RrGhPaBJLythUa1HTa61oxMLONFf6baM25N2j9PFCKLt_R04YwfwPjShYi7QTQ1IHAfMHPWMfQz4TJoMYEiYmkeHcIypwAAAAHF6qUFAA



